.main {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.t-center {
  text-align: center;
}
.blue {
  color: #387adf;
}
.green {
  color: #65b741;
}
.red {
  color: #ff004d;
}
.navbar {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.nav {
  display: flex;
  list-style-type: none;
  gap: 3rem;
}
.nav-link {
  font-weight: 600;
}
.navbar-social-links .nav-link {
  font-size: 1.2rem;
}
.logo {
  font-size: 1.7rem;
  font-weight: 700;
}

.header {
  padding: 4rem 2rem;
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
}

.header-content-header {
  display: block;
  font-size: 3rem;
}
.header-content-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.header-content {
  display: block;
  margin: 0.5rem 0;
}
.header-btn {
  border: 2px solid #ffff;
  padding: 0.7rem;
  background: inherit;
  color: #ffff;

  max-width: 150px;
  cursor: pointer;
}

.header-social-links {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.social-link {
  font-size: 1.2rem;
}
.header-img-logo {
  border-radius: 50%;

  max-width: 300px;
  height: 300px;
}
.about {
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.about-header {
  /* text-align: center; */
  font-size: 2.2rem;
}

.about-content {
  text-align: center;
  max-width: 620px;
  /* flex: 0.5; */
  line-height: 25px;
  align-self: center;
}

.skills {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.skills-logo-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
  width: 100%;
  overflow: scroll;
}
.skills-logo-container::-webkit-scrollbar {
  width: 0;
}
.skills-img {
  width: 40px !important;
  height: 40px !important;
}
.services {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.services-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  width: 100%;
  justify-content: center;
}
.services-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2rem;
  border: 1px solid #ffff;
  padding: 1rem;
  flex: 0.6;
}
.services-card img {
  width: 80px;
  height: 80px;
}
